NODE_ENV=
API_PORT=
SOCKET_PORT=

# Database
FLOM_DB_URL=
FLOM_DB_NAME=
NEW_FLOM_DB_URL=
NEW_FLOM_DB_NAME=

# Flom URL
WEB_CLIENT_URL=
ADMIN_PAGE_URL=
GROUP_CALL_URL=
PAYMENT_SERVICE_URL=
DISCOVER_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Metered.ca
METERED_SECRET=
METERED_USER=
METERED_PASS=

# Messaging
PUSH_URL=
SMS_URL=
BATCH_SMS_URL=
BATCH_SMS_TOKEN=
SEND_SMS_NEW_USER_NOTIFICATION=0
SEND_USSD_NEW_USER_NOTIFICATION=0
SEND_ACTIVATION_CODE=0
USE_VOIP_PUSH=0

# Qrios
QRIOS_CLIENT_ID=
QRIOS_CLIENT_SECRET=
QRIOS_USSD_APP_ID=
QRIOS_BASE_URL=

# Paypal
PAYPAL_ACCESS_TOKEN=

# PPN
PPN_API_V1=
PPN_API_V2=
PPN_TOKEN=

# Authorize.net
AUTHORIZE_LOGIN_ID=
AUTHORIZE_TRANSACTION_KEY=

# Support
TRANSACTION_SUPPORT_EMAIL=
AIRTIME_SUPPORT_EMAIL=
LOGIN_SUPPORT_EMAIL=
BLOCKED_NUMBER_EMAIL=
SUPPORT_AGENT_ID=
SETTLEMENT_AGENT_ID=

# ReCaptcha
RECAPTCHA_SECRET=
NEW_RECAPTCHA_SECRET=
RECAPTCHA_URL=

# Directions API
DIRECTIONS_API_BASE_URL=
DIRECTIONS_API_KEY=

# Security
HASH_SALT=
HACK_SALT=
AES_PASSWORD=
ADMIN_USERNAME=
ADMIN_PASWORD=

# IP APIs
PRO_IP_API_KEY=
PROXYCHECK_URL=
PROXYCHECK_API_KEY=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_FROM_NUMBERS=
TWILIO_AUTH_HEADER=

# NumLookup
NUMLOOKUP_API_KEY=

# SendGrid
SENDGRID_API_KEY=

# Robots
ROBOT_USER_ID=

# Dynamic link
DYNAMIC_LINK_WEB_API_KEY=
DYNAMIC_LINK_WEB_API_URL=
DYNAMIC_LINK_BASE_URL=
DYNAMIC_LINK_APN=
DYNAMIC_LINK_IBI=
DYNAMIC_LINK_ISI=

# Conversion rates API
CONVERSION_RATES_API_KEY=
CONVERSION_RATES_API_URL=
CONVERSION_RATES_API_URL_PROD=

# AddressautocompleteAPI
ADDRESS_AUTOCOMPLETE_API_URL=
ADDRESS_AUTOCOMPLETE_API_KEY=

# Chat GPT
CHAT_GPT_API_KEY=

# Session
SESSION_KEY=
SESSION_SALT=

# Infobip
INFOBIP_URL=
INFOBIP_AUTH=

# Tax API
TAX_API_URL_CAN=
TAX_API_URL_USA=
TAX_API_KEY=

# Antmedia
ANTMEDIA_BASE_URL=

# Recombee
RECOMBEE_DB_ID=
RECOMBEE_PRIVATE_TOKEN=
RECOMBEE_REGION=

USE_CLUSTER=0
PHONENUMBER_SIGNIN=0
ADMIN_PAGE_REGISTRATION_TOKEN=
TEST_SNIPPET=
APP_STORE_LINK=
GUEST_TOKEN=
RUN_SCHEDULER=1
LOCATION_IQ_URL=
LOCATION_IQ_APIKEY=
BINCHECKER_APIKEY=

# Do these even work?
preSelfRegistrationPostUrl=
selfRegistrationPostUrl=
getMerchantCodeUrl=
paymentWithAccountPostUrl=
paymentPostUrl=
prepaymentPostUrl=
airtimeRechargeUrl=
airtimeDataRechargeUrl=
airtimeDataRechargeStatusUrl=
dataProductsUrl=
airtimeMTNDataProductsUrl=
transactionDetailUrl=
GetAllBankAccountsWithMsisdn=
simpleUSSDPushBaseURL=
baseSmsLinkSolano=
getCustomersDetailsUrl=
paymentAndAcquisition=
getMerchantPhoneNumberUrl=
ussdPushQrios=
mysqlMCashHost=